.home-page {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 12%;
}

.home-text {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    margin: 0 auto;
    width: 500px;
    text-align: left;
    font-family: 'Questrial', sans-serif;
}

.text-img {
    height: 70px;
}

.prof-pic {
    height: 400px;
}