#portfolio {
    background-image: URL('./portfolio-unfilled.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    border: none;
   margin-left: 10px;
}

#portfolio:hover {
    background-image: URL('./portfolio-filled.png');
}

#contact {
    background-image: URL('./contact-unfilled.png');
    background-size: 100%;
        background-repeat: no-repeat; 
        width: 83%;
    border: none;
}

#contact:hover {
    background-image: URL('./contact-filled.png');
}

.logo {
    height: 120px;
    padding-left: 10%;
}

.nav-bar {
    display: flex;
}

.header-wrapper {
    display: flex;
    padding-left: 57%;
    padding-top: 2%;
}